{{#cards}}
<div class='card' id='{{name}}'>
  {{name}}<br>
  {{type}} {{#channeled}}<button onclick='playChanneled("{{name}}")'>play</button>{{/channeled}} <br>
  {{description}}<br>
  {{#combo}}
    ({{combo}}) {{effect}}<br>
  {{/combo}}
  {{#treasure}}
    <button onclick='takeTreasure("{{name}}")'>take</button>
  {{/treasure}}
  <br>
</div>
{{/cards}}