<script type="text/javascript">
  function request(type, url, success){
    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        success.bind(this)()
      }
    }
    xhttp.open(type, url, true)
    xhttp.send()
  }

  function draw(){
    request('get', 'draw', function(){
      document.getElementById('hand').innerHTML = this.response
    })
  }

  function updateTurn(){
    request('get', 'turn', function(){
      document.getElementById('header').innerHTML = this.response
    })
  }

  function getEquipment(){
    request('get', 'equipment', function(){
      document.getElementById('equipment').innerHTML = this.response
    })
  }

  function getChanneled(){
    request('get', 'channel', function(){
      document.getElementById('channeled').innerHTML = this.response
    })
  }

  function removeChanneled(cardName){
    request('post', 'channel/remove/'+cardName, function(){
      document.getElementById(cardName).style.display = 'none'
    })
  }

  function playChanneled(cardName){
    console.log('yes')
    request('post', 'channel/play/'+cardName, function(){
      document.getElementById(cardName).style.display = 'none'
      getChanneled()
    })
  }

  function nextTurn(){
    request('post', 'turn', function(){
      updateTurn()
      getEquipment()
      getChanneled()
      updateCourageDisplay()
      document.getElementById('hand').innerHTML = ''
    })
  }

  function drawTreasure(){
    request('get', 'drawTreasure', function(){
      document.getElementById('treasure').innerHTML = this.response
    })
  }

  function takeTreasure(cardName){
    request('post', 'takeTreasure/'+cardName, function(){
      document.getElementById('treasure').innerHTML = ''
      getEquipment() // player may have received equipment.
    })
  }

  function drawLevel(){
    request('get', 'level', function(){
      var level = JSON.parse(this.response)
      var table = document.createElement('table')
      for(var i = 0; i < level.length; i++){
        var row = table.insertRow(i)
        for(var j = 0; j < level[0].length; j++){
          var cell = row.insertCell(j)
          var btn = document.createElement('button')
          btn.onclick = function(i, j){
            moveCurrentPlayerAvatarTo(i, j)
          }.bind(null, i, j)
          btn.innerHTML = level[i][j]
          if (level[i][j] == 'w'){ btn.style.backgroundColor = 'brown' }
          else if (level[i][j] == 't'){ btn.style.backgroundColor = 'yellow' }
          else if (level[i][j] == '0'){ btn.style.backgroundColor = 'red' }
          else if (level[i][j] == '1'){ btn.style.backgroundColor = 'green' }
          cell.appendChild(btn)
        }
      }
      document.getElementById('level').innerHTML = ''
      document.getElementById('level').appendChild(table)
    })
  }

  function moveCurrentPlayerAvatarTo(row, col){
    request('post', 'movePlayerAvatarTo/'+row+'/'+col, function(){
      drawLevel()
    })
  }

  function deltaCourage(playerCourageElementId, delta){
    var el = document.getElementById(playerCourageElementId)
    el.innerHTML = parseInt(el.innerHTML)+parseInt(delta)
    return true
  }

  function updateCourageDisplay(){
    var courages = document.getElementById('courage').children
    for(var i = 0; i < courages.length; i++){
      courages[i].style.visibility == 'hidden' ? courages[i].style.visibility = 'visible' : courages[i].style.visibility = 'hidden'
    }
    return true
  }

  drawLevel()
  updateTurn()
</script>
<div id='header'></div>
<div id='courage'>
  <div style='display: inline-block'>
    <p id='courageZero'>20</p>
    <button onclick='deltaCourage("courageZero", 1)'>+</button>
    <button onclick='deltaCourage("courageZero", -1)'>-</button>
  </div>
  <div style='display: inline-block; visibility: hidden'>
    <p id='courageOne'>20</p>
    <button onclick='deltaCourage("courageOne", 1)'>+</button>
    <button onclick='deltaCourage("courageOne", -1)'>-</button>
  </div>
  <br><br>
</div>
<div id='level'></div><br>
<div id='equipment'></div>
<div id='channeled'></div>
<button onclick='draw()'>draw</button>
<button onclick='nextTurn()'>next turn</button>
<button onclick='drawTreasure()'>draw treasure</button><br><br>
<div id='treasure'></div>
<div id='hand'></div>
