<script type="text/javascript">
  function request(type, url, success){
    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        success.bind(this)()
      }
    }
    xhttp.open(type, url, true)
    xhttp.send()
  }

  function draw(){
    request('get', 'draw', function(){
      document.getElementById('hand').innerHTML = this.response
    })
  }

  function updateTurn(){
    request('get', 'turn', function(){
      document.getElementById('header').innerHTML = this.response
    })
  }

  function getEquipment(){
    request('get', 'equipment', function(){
      document.getElementById('equipment').innerHTML = this.response
    })
  }

  function nextTurn(){
    request('post', 'turn', function(){
      updateTurn()
      getEquipment()
      document.getElementById('hand').innerHTML = ''

    })
  }

  function drawTreasure(){
    request('get', 'drawTreasure', function(){
      document.getElementById('treasure').innerHTML = this.response
    })
  }

  function takeTreasure(cardName){
    request('post', 'takeTreasure/'+cardName, function(){
      document.getElementById('treasure').innerHTML = ''
      getEquipment() // player may have received equipment.
    })
  }

  function drawLevel(){
    request('get', 'level', function(){
      var level = JSON.parse(this.response)
      var table = document.createElement('table')
      for(var i = 0; i < level.length; i++){
        var row = table.insertRow(i)
        for(var j = 0; j < level[0].length; j++){
          var cell = row.insertCell(j)
          var btn = document.createElement('button')
          btn.onclick = function(i, j){
            moveCurrentPlayerAvatarTo(i, j)
          }.bind(null, i, j)
          btn.innerHTML = level[i][j]
          cell.appendChild(btn)
        }
      }
      document.getElementById('level').innerHTML = ''
      document.getElementById('level').appendChild(table)
    })
  }

  function moveCurrentPlayerAvatarTo(row, col){
    request('post', 'movePlayerAvatarTo/'+row+'/'+col, function(){
      drawLevel()
    })
  }

  drawLevel()
  updateTurn()
</script>
<div id='header'></div>
<div id='level'></div><br>
<div id='equipment'></div>
<button onclick='draw()'>draw</button>
<button onclick='nextTurn()'>next turn</button>
<button onclick='drawTreasure()'>draw treasure</button>
<div id='treasure'></div>
<div id='hand'></div>
