<script type="text/javascript"> 
  function request(type, url, success){
    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        success.bind(this)()
      }
    }
    xhttp.open(type, url, true)
    xhttp.send()
  }

  function draw(){
    request('get', 'draw', function(){
      document.getElementById('hand').innerHTML = this.response
    })
  }

  function updateTurn(){
    request('get', 'turn', function(){
      document.getElementById('header').innerHTML = this.response
    })
  }

  function nextTurn(){
    request('post', 'turn', function(){
      updateTurn()
      document.getElementById('hand').innerHTML = ''
    })
  }

  function drawTreasure(){
    request('get', 'drawTreasure', function(){
      document.getElementById('treasure').innerHTML = this.response
    })
  }

  function takeTreasure(cardName){
    request('post', 'takeTreasure/'+cardName, function(){
      document.getElementById('treasure').innerHTML = ''
    })
  }

  updateTurn()
</script>
<div id='header'></div>
<button onclick='draw()'>draw</button>
<button onclick='nextTurn()'>next turn</button>
<button onclick='drawTreasure()'>draw treasure</button>
<div id='treasure'></div>
<div id='hand'></div>
